@import '~bootstrap/scss/bootstrap';

iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
}

body {
  margin: 0;
  padding: 20px;
}

button {
  cursor: pointer;
}

h2 {
  margin: 0;
}

hr {
  margin: 0;
}

.tackBoard {
  display: flex;
  height: 80vh;
  gap: 10px;
  justify-content: space-between;
}
